<?xml version="1.0" encoding="utf-8"?>
<profiles version="21">
	<profile kind="CodeFormatterProfile" name="CheckStyle For RiEASE" version="21">
		<setting id="org.eclipse.jdt.core.formatter.tabulation.char" value="space"/>
		<setting id="org.eclipse.jdt.core.formatter.use_tabs_only_for_leading_indentations" value="false"/>
		<setting id="org.eclipse.jdt.core.formatter.indentation.size" value="2"/>
		<setting id="org.eclipse.jdt.core.formatter.tabulation.size" value="2"/>
		<setting id="org.eclipse.jdt.core.formatter.text_block_indentation" value="0"/>
		<setting id="org.eclipse.jdt.core.formatter.continuation_indentation" value="1"/>
		<setting id="org.eclipse.jdt.core.formatter.comment.line_length" value="150"/>
		<setting id="org.eclipse.jdt.core.formatter.lineSplit" value="150"/>
		<setting id="org.eclipse.jdt.core.formatter.never_indent_line_wrapping" value="true"/>
	</profile>
</profiles>
